// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


// 4. Include any default map overrides here
$custom-colors: (
				"baggrund": #96DAB2,
				"navbar": #346C4B,
				"kasse":#5B9874,
				"text":#4D5655,
				"hvid":#ffff,
				"gron":#53D26F
);


$form-check-input-checked-bg-color: #5B9874; !important
$form-check-input-checked-border-color: #346C4B; !important

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
	font-family: "Montserrat", sans-serif;
	background-color: #96DAB2;
}

.overskrift{
	font-family: "Baskervville", serif;
}

.pil{
	font-size: xx-large;
	color: #ffff;
}

.sprog{
	font-size: xx-large;
	color: #ffff;
}

.info{
	font-size: xx-large;
	color: #ffff;
}

.FAQ{
	font-size: xx-large;
	color: #ffff;
}

.container {
	/*
	display: flex;
	justify-content: center;
	height: 100vh;
	*/
}

.diamond {
	transform: rotate(45deg);

}

.square {
	position: relative;
	width: 100%;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transform: rotate(-45deg);
}
.square:before {
	content: "";
	display: block;
	padding-top: 100%; /* 1:1 Aspect Ratio */
}

.sqcontent {
	position: absolute;
	/*
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #007bff; /* Bootstrap primary color */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	transform: rotate(-45deg);
}

.navover{
	   font-family: "Baskervville", serif;
	font-size: xx-large;
	color: #ffff;
}

.rsoverskrift{
	font-family: "Baskervville", serif;
}

.mini{
	font-size: 1px;
}

.btn{
	color: #ffff;
}

