// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// 4. Include any default map overrides here
$custom-colors: (
				"baggrund": #96DAB2,
				"navbar": #346C4B,
				"kasse":#5B9874,
				"text":#4D5655,
				"hvid":#ffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
	font-family: "Montserrat", sans-serif;
}

.overskrift{
	font-family: "Baskerville", serif;
}

.pil{
	font-size: xx-large;
	color: #ffff;
}

.sprog{
	font-size: xx-large;
	color: #ffff;
}

.info{
	font-size: xx-large;
	color: #ffff;
}

.FAQ{
	font-size: xx-large;
	color: #ffff;
}

.navover{
	   font-family: "Baskerville", serif;
	font-size: xx-large;
	color: #ffff;
}